<header class="topbar" data-site-header="canonical" data-site-header-version="2">
  <a class="brand" href="{{ROOT}}index.html"><span class="brand-mark">✦</span><span>THE POTATO OF LIFE</span></a>
  <nav aria-label="Primary">
    <a data-nav="home" href="{{ROOT}}index.html">Home</a>
    <a data-nav="repository" href="{{ROOT}}repository.html">Repository</a>
    <a data-nav="timeline" href="{{ROOT}}timeline.html">Timeline</a>
    <a data-nav="thought" href="{{ROOT}}thoughts.html">Thought</a>
    <a data-nav="world" href="{{ROOT}}nations.html">World</a>
    <a data-nav="people" href="{{ROOT}}people.html">People</a>
    <a data-nav="ideas" href="{{ROOT}}belief.html">Ideas</a>
    <a data-nav="culture" href="{{ROOT}}culture.html">Culture</a>
    <a data-nav="books" href="{{ROOT}}books.html">Books</a>
    <a data-nav="potatoism" href="{{ROOT}}potatoism.html">Potatoism</a>
    <a data-nav="movements" href="{{ROOT}}extremism.html">Movements</a>
    <a data-nav="hawkins" href="{{ROOT}}hawkins.html">Hawkins</a>
  </nav>
</header>
